#ifndef {{ guard }}
#define {{ guard }}

#ifdef __cplusplus
extern "C" {
#endif

// -----------------------------------------------------------------------------
// Module: {{ name }}.h
// Created: {{ timestamp }}
// -----------------------------------------------------------------------------
// Description:
//   Brief description of what this module does.
//
// -----------------------------------------------------------------------------

// Public function declarations here

#ifdef __cplusplus
}
#endif

#endif /* {{ guard }} */
